@{
    ViewBag.Title = "Lavacar";
}
<head>
   
</head>
<body style=" background-color: white;  font-family: Georgia ; font-size: 20px;">
    <div>

        <center>

            <h2 style="background-color:royalblue; font-size: 50px; color: white;"> Lavacar DataSoft </h2>
        </center>
    </div>
    <center>
        <div>

            <img src="~/Img/Lavacar.png" width="300" height="150"><br>



        </div>
    </center>
    <img src="~/Img/lavado2.jpg" right width="1200" height="500">




</body>
